In [2]:
# Dependancies
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Create DataFrame of the "Daily Temperature of Major Cities" data from Kaggle
city_temperature_file = "Resources/Daily Temperature of Major Cities/archive.zip"
city_temperature_df = pd.read_csv(city_temperature_file,compression='zip', header=0, sep=',', quotechar='"',dtype='unicode')
city_temperature_df.head()

   Region  Country State     City Month Day  Year AvgTemperature
0  Africa  Algeria   NaN  Algiers     1   1  1995           64.2
1  Africa  Algeria   NaN  Algiers     1   2  1995           49.4
2  Africa  Algeria   NaN  Algiers     1   3  1995           48.8
3  Africa  Algeria   NaN  Algiers     1   4  1995           46.4
4  Africa  Algeria   NaN  Algiers     1   5  1995           47.9

In [4]:
# Create DataFrame of the "Air Quality Annual Summary" data from Kaggle
aqi_file = "Resources/Yearly Air Quality Index (AQI) For CDP Cities/archive.zip"
aqi_df = pd.read_csv(aqi_file,compression='zip', header=0, sep=',', quotechar='"')
aqi_df.head()

,account_number,organization,city,country,year,arithmetic_mean
0,60391,Municipalidad de San Borja,San Borja,Peru,2010,15.171429
1,841098,Municipalidad Distrital de Chimbote,NaN,Peru,2009,7.425256
2,841153,Municipalidad de Bellavista,NaN,Peru,2009,7.425256
3,54609,Alcaldia de Trujillo,Trujillo,Peru,2009,7.425256
4,60392,Municipalidad de San Isidro (Lima),San Isidro (Lima),Peru,2009,7.425256

In [5]:
# # Create DataFrame of the "Air Quality Annual Summary" data from Kaggle
# air_quality_annual_file = "Resources/Air Quality Annual Summary/archive.zip"
# air_quality_annual_df = pd.read_csv(air_quality_annual_file,compression='zip', header=0, sep=',', quotechar='"',dtype='unicode')
# air_quality_annual_df.head()

In [7]:
# Create DataFrame of the "Air Quality Annual Summary" data from Kaggle
aqi_file = "Resources/Yearly Air Quality Index (AQI) For CDP Cities/archive.zip"
aqi_df = pd.read_csv(aqi_file,compression='zip', header=0, sep=',', quotechar='"')
aqi_df.head()

,account_number,organization,city,country,year,arithmetic_mean
0,60391,Municipalidad de San Borja,San Borja,Peru,2010,15.171429
1,841098,Municipalidad Distrital de Chimbote,NaN,Peru,2009,7.425256
2,841153,Municipalidad de Bellavista,NaN,Peru,2009,7.425256
3,54609,Alcaldia de Trujillo,Trujillo,Peru,2009,7.425256
4,60392,Municipalidad de San Isidro (Lima),San Isidro (Lima),Peru,2009,7.425256

In [10]:
base_epa_file = "Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_"

# Read the first csv file and put into our combined_epa_df
epa_file = base_epa_file + '2000.zip'
print('Loading file ' + epa_file)
print('-------------------------------------')
combined_epa_df = pd.read_csv(epa_file,compression='zip', header=0, sep=',', quotechar='"',dtype='unicode')


# Loop through the rest of the files and combine into combined_epa_df
for year in range(2001,2021):
    epa_file = base_epa_file + str(year) + '.zip'
    print('Loading file ' + epa_file)
    print('-------------------------------------')    
    epa_df = pd.read_csv(epa_file,compression='zip', header=0, sep=',', quotechar='"',dtype='unicode')
    combined_epa_df = pd.concat([combined_epa_df,epa_df])

# Output the DataFrame
combined_epa_df.head()

Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2000.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2001.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2002.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2003.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2004.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2005.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2006.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2007.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2008.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2009.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2010.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2011.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2012.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2013.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2014.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2015.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2016.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2017.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2018.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2019.zip
-------------------------------------
Loading file Resources/EPA_annual_conc_by_monitor/annual_conc_by_monitor_2020.zip
-------------------------------------

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.075,0.062,0.035,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-05-21
1,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.067,0.055,0.029,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-05-21
2,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.067,0.055,0.029,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-05-21
3,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.067,0.055,0.028,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-05-21
4,01,003,0010,68101,1,30.497478,-87.880258,NAD83,Sample Flow Rate- CV,24 HOUR,...,0.4,0.2,0.1,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2020-05-21